{% extends '@App/layout.html.twig' %}
{% block title %}AJOUT ORDONONCE{% endblock %}

{% block titlebody %}
    <h2>Ajouté l'ordonnance</h2>
{% endblock %}
{% block content %}
    {{ form(form) }}
{% endblock %}