{% extends '@App/layout.html.twig' %}

{% block title %}Fiche Médical{% endblock %}
{% block titlebody %}
    <h2>Complétez votre profil</h2>
{% endblock %}
{% block body %}
    {{ form(form) }}
{% endblock %}