{% extends '@App/layout.html.twig' %}

{% block title %}PROFIL DOCTEUR{% endblock %}

{% block titlebody %}
    <h2>Complétez votre profil</h2>
{% endblock %}
{% block content %}
    {{ form(form) }}
{% endblock %}